$green-button: #3cb371;
$background-color:#f5f5f5;
$searchButton-color:#6495ed;
$content-color:#ffffff;
$comment-color:#d8d8d8;
$reset-color:#dcdcdc;
$reset-border-color:#f6f9fb;
$history-color:#4682b4;
$menu-background:#a9a9a9;
$text-td-table:#696969;