button {
    font-size: 12px;
    font-weight: bold;
}

label {
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}

select {
    cursor: pointer;
}

.content-recharge {
    background-color: white;
}

.search-button,
.search-button:hover,
.search-button:active,
.search-button:focus {
    background-color: $searchButton-color !important;
}

.search-button span {
    margin: 0 0 0 5px;
}

.recharge-button,
.recharge-button:hover,
.recharge-button:active,
.recharge-button:focus {
    background-color: $green-button !important;
}

.recharge-button span {
    margin: 0 0 0 5px;
}

input[type='checkbox'] {
    background-color: $searchButton-color;
    width: 25px;
    height: 25px;
    cursor: pointer;
    border-radius: 0 !important;
}