
button {
    font-size: 12px;
    font-weight: bold;
}

label {
    font-size: 12px;
    font-style: normal;
    font-weight: bold;
}

select {
    cursor: pointer;
}

.content-recharge {
    background-color: white;
}

.search-button,
.search-button:hover,
.search-button:active,
.search-button:focus {
    background-color: $searchButton-color !important;
}

.search-button span {
    margin: 0 0 0 5px;
}