.recharge-header {
    height: 50px;
    background-color: $background-color;
    padding-top: 13px;
}

.header-left span {
    text-transform: uppercase;
    margin: 10px 0 0 10px;
}

.header-right {
    text-align: right;
}

.recharge-content {
    padding-bottom: 10px;
}